/* TABLET RESPONSIVE */

@media screen and (min-width:768px){

    .tablet-d-flex{
        display: flex;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #features .row, #benefits .row{
        margin: 0 -1rem;
    }

    .tablet-w-33{
        width: calc(100% / 3);
    }

    .tablet-w-40{
        width: 40%;
    }

    .tablet-w-50{
        width: 50%;
    }

    .tablet-w-60{
        width: 60%;
    }

    .tablet-w-66{
        width: calc(100% / 3 * 2);
    }

    .g1{
        padding: 0 1rem;
    }

    .g2{
        padding: 0 2rem;
    }

    .s-planning-row{
        max-width: 800px;
    }

    #demo-application{
        width: calc(100% / 3 * 2 - 8px);
    }

    #testimonials .card{
        display: flex;
        align-items: center;
    }
}

/* DESKTOP RESPONSIVE */

@media screen and (min-width:1200px){

    .desktop-d-flex{
        display: flex;
    }

    .desktop-w-25{
        width: 25%;
    }

    .desktop-w-33{
        width: calc(100% / 3);
    }

    .desktop-w-66{
        width: calc(100% / 3 * 2);
    }

    .desktop-w-50{
        width: 50%;
    }

    .desktop-w-75{
        width: 75%;
    }

    .desktop-m-0auto{
        margin: 0 auto;
    }

    #hamburger-menu{
        display: none;
    }

    #main-menu{
        display: block;
    }

    #main-menu li{
        list-style-type: none;
        margin-left: 30px;
    }
    
    #main-menu li a{
        color: #fff;
        font-size: 1.2rem;
        text-decoration: none;
    }

    #main-menu #main-menu-button{
        color: #000;
        background-color: #fff;
        border-radius: 20px;
        padding: 5px 15px;
    }

    #strategic-planning .col{
        margin-top: 1rem;
        align-self: flex-end;
    }

    #left-div p{
        margin-bottom: 0;
    }

    #benefits{
        padding: 0;
    }

    #benefits .container{
        padding: 3rem 2rem;
    }
}