/* TABLET RESPONSIVE */

@media screen and (min-width:768px){

    .row{
        flex-direction: row;
    }

    .features .small-col{
        width: calc(100% / 3 - 16px);
    }

    #demo-application{
        width: calc(100% / 3 * 2 - 8px);
    }
}

/* DESKTOP RESPONSIVE */

@media screen and (min-width:1200px){

    #main-menu-mobile{
        display: none;
    }

    #main-menu-desktop{
        display: block;
    }
}