/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body{
    font-family: 'PT Sans', sans-serif;
}

main{
    padding-top: 130px;
}

/* UTILS */

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1120px;
    padding: 0 30px;
}

.m-0auto{
    margin: 0 auto;
}

.ta-center{
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.d-flex{
    display: flex;
}

.small-col{
    min-height: 400px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.big-col{
    min-height: 400px;
    border-radius: 40px;
}

.bg-white{
    background-color: #fff;
}

.bg-lightblue{
    background-color: #B5DDFF;
}

.bg-purple{
    background-color: #9792E4;
}

/* HEADER */

header{
    height: 80px;
    width: 100%;
    background-color: #0084FD;
    color: #fff;
    position: fixed;
    z-index: 1;
}

nav{
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    background-color: #fff;
    height: 40px;
    width: 120px;
}

#main-menu-mobile{
    font-size: 1.7rem;
}

#main-menu-desktop{
    display: none;
}

#main-menu-desktop li{
    list-style-type: none;
    margin-left: 30px;
}

#main-menu-desktop li a{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}

#main-menu-desktop #main-menu-desktop-button{
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
}

/* FEATURES SECTION */

.features{
    margin-bottom: 100px;
}

/* STRATEGIC PLANNING SECTION */

.s-planning-row{
    padding: 70px 0;
}