/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body{
    font-family: 'PT Sans', sans-serif;
    line-height: 1.7rem;
}

main{
    padding-top: 80px;
}

section{
    padding: 3rem 2rem;
}

h1{
    font-size: 3.5rem;
    line-height: 4rem;
}

/* UTILS */

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1120px;
}

.ta-center{
    text-align: center;
}

.d-flex{
    display: flex;
}

.col{
    margin-bottom: 2rem;
}

.btn{
    text-decoration: none;
    border-radius: 30px;
}

.c-white{
    color: #fff;
}

.c-purple{
    color: #9792E4;
}

.bg-white{
    background-color: #fff;
}

.bg-blue{
    background-color: #0084FD;
}

.bg-lightblue{
    background-color: #B5DDFF;
}

.bg-purple{
    background-color: #9792E4;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
    margin-bottom: 3rem;
}

/* HEADER */

header{
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav.container{
    height: 100%;
    padding: 0 2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    display: block;
}

#hamburger-menu{
    font-size: 1.7rem;
}

#main-menu{
    display: none;
}

/* FEATURES SECTION */

#features .card{
    border-radius: 20px;
    background-color: #B5DDFF;
    padding: 2rem;
    height: 100%;
}

#features .card.desktop-d-flex{
    padding-bottom: 0;
}

#features img{
    width: 250px;
    display: block;
}

#features .btn{
    display: inline-block;
    padding: 0.5rem 3rem;
    font-weight: 700;
}

#features .btn .fa-apple{
    margin-right: 5px;
    color: #fff;
    font-size: 1rem;
}

#features .card i{
    color: #0084FD;
    font-size: 5rem;
}

#features h3{
    font-size: 1.5rem;
    color: #0084FD;
}

#features p{
    font-weight: 700;
    color: #5A6E7F;
}

/* STRATEGIC PLANNING SECTION */

#strategic-planning .container{
    width: 100%;
    max-width: 800px;
}

#strategic-planning img{
    display: block;
    margin: 0 auto 1rem;
    width: 90%;
}

#left-div img{
    padding: 2rem 0 6rem;
}

#strategic-planning h2{
    font-size: 2rem;
}

#strategic-planning h3{
    font-size: 1.5rem;
}

#strategic-planning .col{
    margin-bottom: 0;
}

#left-div p{
    margin-bottom: 2rem;
}

#right-div{
    padding: 1.5rem;
    border-radius: 50px;
}

#right-div p{
    font-style: italic;
    font-size: 1.1rem;
}

#right-div a{
    display: inline-block;
    margin: 0 auto;

    height: 50px;
    width: 50px;
    border-radius: 50%;

    color: #000;
    text-decoration: none;
}

#right-div i{
    display: inline;
    line-height: 50px;
}

/* TESTIMONIALS SECTION */

#testimonials{
    font-size: 1.2rem;
}

#testimonials .card{
    border-radius: 50px;
    background-color: #9792E4;
    padding: 2rem 1rem;
}

#testimonials h2{
    font-size: 2.5rem;
    line-height: 3rem;
}

#testimonials .testimonial-pfp{
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#testimonial1{
    background-image: url(../img/testimonial1.jpg);
}

#testimonial2{
    background-image: url(../img/testimonial2.jpg);
}

#testimonial3{
    background-image: url(../img/testimonial3.jpg);
}

#testimonials .testimonial-name{
    font-weight: 700;
}

/* BENEFITS SECTION */

#benefits .card{
    border-radius: 20px;
    background-color: #fff;
    padding: 2.5rem 2rem;
}

#benefits h2{
    font-size: 2.5rem;
    line-height: 3rem;
}

#benefits .card p{
    color: #737373;
    font-size: 0.9rem;
}

#benefits .card .btn{
    display: inline-block;
    font-weight: 700;
    padding: 0.5rem 3rem;
}

/* ABOUT US SECTION */

#about-us{
    width: 100%;
    max-width: 1000px;
}

#about-us .about-us-pfp{
    background-image: url(../img/about.jpg);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#about-us .about-us-pfp .fa-quote-left{
    height: 50px;
    line-height: 50px;
    font-size: 5rem;
    position: absolute;
    top: 0;
    right: 0;
}

#about-us span{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.5rem;
}

#about-us .btn{
    padding: 0.5rem 1rem;
    display: inline-block;
    font-size: 0.9rem;
}

#about-us .btn .fa-linkedin{
    margin-right: 5px;
}

/* GET STARTED SECTION */

#get-started .container{
    width: 100%;
    max-width: 500px;
}

/* FOOTER */

footer{
    background-color: #333333;
    color: #DCDCDC;
    padding: 30px;
}

footer div{
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}